[Unit]
Description=LSM90DS Logging Service
After=network-online.target

[Service]
ExecStart=/usr/bin/python /home/pi/scripts/LSM9DS0.py
StandardOutput=syslog
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
Alias=lsm90ds-logger.service

