[Unit]
Description=BH1750 Logging Service
After=network-online.target

[Service]
ExecStart=/usr/bin/python /home/pi/bh1750.py
StandardOutput=syslog
Restart=always

[Install]
WantedBy=multi-user.target
Alias=bh1750-logger.service

