[Unit]
Description=RFID Logging Service
After=network-online.target

[Service]
ExecStart=/usr/bin/python /home/pi/rfid.py
StandardOutput=syslog
Restart=always

[Install]
WantedBy=multi-user.target
Alias=rfid-logger.service

