[Unit]
Description=Water Temperature Logging Service
After=network-online.target

[Service]
ExecStart=/usr/bin/python /home/pi/waterTemperature.py
StandardOutput=syslog
Restart=always

[Install]
WantedBy=multi-user.target
Alias=water-logger.service

